<div class="row">
	<div class="col-xs-12 comment">
		<div class="row">
			<div class="commentElementDiv">
			<a>
				<span class="upvote glyphicon 
					glyphicon-chevron-up
					<% if (activeVote === "up") { %>
						activeVote
					<% } %>
					">
				</span>
			</a>
			</div>
			
			<div class="commentElementDiv">
				<%= comment.escape("submitter") %> 
				<%= comment.get("upvotes") %> points
				<%= comment.get("ago") %> ago
			</div>
		</div>

		<div class="row">
			<div class="commentElementDiv">
				<a>
					<span class="downvote 
					glyphicon glyphicon-chevron-down
					<% if (activeVote === "down") { %>
						activeVote
					<% } %>
					">
					</span>
				</a>
			</div>
			
			<div class="commentElementDiv">
				<%= comment.escape("content") %>
			</div>
		</div>
	
		<div class="row ">
			<div class="commentButtons">
			<% if (user_id === comment.get("submitter_id")) { %>
			<button 
			class="editComment btn btn-xs btn-link linkButton">
				Edit
			</button>
			<button 
			class="deleteComment btn btn-xs btn-link linkButton">
				Delete
			</button>
			<% } else { %>
			<% } %>
			<button 
			class="replyForm btn btn-xs btn-link linkButton">
				Reply
			</button>
			</div>
		</div>
	</div>
</div>

<ul class="replyForm row" id="reply-form-<%= comment.id %>"></ul>
	
<ul class="comments row" data-parent-comment-id="<%= comment.id %>">
</ul>	

