<div class="comment row">
		<div class="col-xs-8 title">
			<%= comment.escape("content") %>
		</div>
		
		<div class="col-xs-1 author">	
			<span class="authorname">
				<%= comment.escape("submitter") %>
			</span>
		</div>
	
		<div class="buttons col-xs-3">
			<% if (user_id === comment.get("submitter_id")) { %>
			<button class="editComment btn btn-warning pull-right"
				data-comment-id="<%= comment.id %>">
				Edit
			</button>
			<button class="deleteComment btn btn-danger pull-right"
				data-comment-id="<%= comment.id %>">
				Delete
			</button>
			<% } else { %>
			<% } %>
			<button class="replyForm btn btn-info pull-right"
				data-comment-id="<%= comment.id %>">
				Reply
			</button>
		</div>
</div>

<div class="replyForm"></div>
	
<ul class="comments" data-parent-comment-id="<%= comment.id %>">
</ul>	

