<div class="col-xs-1">
	<div class="centered">
		<a class="">
			<span class="upvote bigger glyphicon glyphicon-chevron-up
				<% if (activeVote === "up") { %>
					activeVote
				<% } %>
				">
			</span>
		</a>
			
		<div class="row">
			<span class="bigger"><%= post.get("upvotes") %></span>
		</div>
	
		<a class="">
			<span class="downvote bigger 
			glyphicon glyphicon-chevron-down
			<% if (activeVote === "down") { %>
				activeVote
			<% } %>
			">
			</span>
		</a>
	</div>
</div>
<% if (hasImg) { %>
<div class="col-xs-3">
	<a href="<%= post.escape('url') %>">
	<img src="<%= hasImg %>" 
		 class="img-responsive rounded"/>
	</a>
</div>

<div class="col-xs-8">
<% } else { %>
<div class="col-xs-11">
<% } %>

	<div class="postRow1 row">
		<div class="title col-xs-12">	
			<a href="<%= post.escape('url') || 
			"#posts/" + post.id %>" class="bigger"">
				<%= post.escape("title") %>
			</a>
		</div>
	</div>
	
	<div class="postRow2 row">
		<div class="author cols-xs-12">
<p>submitted <%= post.get("ago") %> ago by 
	<a href="#users/<%= post.escape("submitter_id") %>" class="big">
		<%= post.escape("submitter") %>
	</a>
<% if (post.escape("sub")) { %>
to 
<a href="<%= post.get('sub_url') %>" class="big">
	<%= post.escape("sub") %>
</a>
<% } %>
</p>
		</div>
	</div>
	
	<div class="postRow3 row">
		<div class="commentsLink cols-xs-12">
			<a href="#posts/<%= post.id %>" class="big">
				<%= post.get("comments_count") %> comments
			</a>
		</div>
	</div>
</div>
