	<div class="col-xs-1">
		<!-- <div class="row">
			<%= index + 1 %>
		</div> -->
		
		<a class="row">
			<span class="upvote glyphicon glyphicon-chevron-up
				<% if (activeVote === "up") { %>
					activeVote
				<% } %>
				">
			</span>
		</a>
				
		<div class="row">
			<%= post.get("upvotes") %>
		</div>
		
		<a class="row">
			<span class="downvote 
			glyphicon glyphicon-chevron-down
			<% if (activeVote === "down") { %>
				activeVote
			<% } %>
			">
			</span>
		</a>
	</div>
	<% if (hasImg) { %>
	<div class="col-xs-2">
		<a href="<%= post.escape('url') %>">
		<img src="<%= post.escape('url') %>" 
			 class="img-responsive"/>
		</a>
	</div>
	
	<div class="col-xs-9">
	<% } else { %>
	<div class="col-xs-11">
	<% } %>
	
		<div class="postRow1 row">
			<div class="title col-xs-12">	
				<a href="<%= post.escape('url') || 
				"#posts/" + post.id %>">
					<%= post.escape("title") %>
				</a>
			</div>
		</div>
		
		<div class="postRow2 row">
			<div class="author cols-xs-12">
<p>submitted <%= post.get("ago") %> ago by <%= post.escape("submitter") %>  
	<% if (post.escape("sub")) { %>
	to 
	<a href="<%= post.get('sub_url') %>">
		<%= post.escape("sub") %>
	</a>
	<% } %>
</p>
			</div>
		</div>
		
		<div class="postRow3 row">
			<div class="commentsLink cols-xs-12">
				<a href="#posts/<%= post.id %>">
					<%= post.get("comments_count") %> comments
				</a>
			</div>
		</div>
	</div>
