<div class="post">
	<div class="title">
		<a href="<%= post.escape('url') %>">
			<%= post.escape("title") %>
		</a>
	</div>
	
	<div class="author">
		<span class="authorname">
			<%= post.escape("submitter") %>
		</span>
		<br>
		<% if (post.get("user_id") === post.get("submitter_id")) { %>
				<a href="#posts/<%= post.get('id') %>/edit" 
					class="btn btn-warning">
					Edit Post
				</a>
				<button class="deletePost btn btn-danger">
					Delete Post
				</button>
		<% } %>
	</div>
	
	<div class="content">
		<%= post.escape("content") %>
	</div>
</div>

<ul>
<% post.comments().each(function(comment) { %>
	<li>
		<div class="comment">
			<div class="title">
				<%= comment.escape("content") %>
			</div>
			
			<div class="author">
				<%= comment.escape("submitter") %>
			</div>
		</div>		
	</li>
<% }) %>
</ul>