<div class="post">
	<div class="title">
		<a href="<%= post.escape('url') %>">
			<%= post.escape("title") %>
		</a>
	</div>
	
	<div class="author">
		<span class="authorname">
			<%= post.escape("submitter") %>
		</span>
		<br>
		<% if(user_id === post.get("submitter_id")) { %>
				<a href="#posts/<%= post.get('id') %>/edit" 
					class="btn btn-warning">
					Edit Post
				</a>
				<button class="deletePost btn btn-danger">
					Delete Post
				</button>
		<% } %>
	</div>
	
	<div class="content">
		<%= post.escape("content") %>
	</div>
</div>

<div class="top-level-comment-form">
	<form class="commentForm">
		<textarea 
			placeholder="Comment here"
			name="comment[content]">
		</textarea>
		
		<input type="submit" value="Post">
	</form>
</div>

<ul class="comments">
</ul>