<h1><%= formText %></h1>
<div class="postMessages"></div>
<form id="postForm">
	<div class="form-group">
		<label>Title
			<input type="text" name="post[title]" class="form-control"
			value="<%= post.escape("title") %>">
		</label>
	
		<label>URL
			<input type="text" name="post[url]" class="form-control"
			value="<%= post.escape("url") %>">
		</label>
		
		<label>Content
			<input type="text" name="post[content]" class="form-control"
			value="<%= post.escape("content") %>">
		</label>
		
		<input type="submit" value="<%= formText %>" class="btn btn-primary">
	</div>
	
</form>