<h1><%= button_text %></h1>
<form action="<%= form_action %>" method="post">
	<input type="hidden" name="authenticity_token" 
	value="<%= form_authenticity_token %>">
	
	<% if edit %>
		<input type="hidden" name="_method" value="PATCH">
	<% end %>
	
	<label>Username
		<input type="text" name="user[username]" 
		value="<%= user.username %>">
	</label>
	
	<label>Password
		<input type="password" name="user[password]">
	</label>
	
	<input type="submit" value="<%= button_text %>">
</form>