<h1><%= sub.escape("title") %></h1>
<p><%= sub.escape("description") %> |
<u>Moderator ID</u>: 
<%= sub.escape("moderator_id") %> |
</p>
<br>
<% sub.posts().each(function(post) { %>
<div class="post">
	<div class="title">	
		<a href="#posts/<%= post.get("id") %>">
			<%= post.escape("title") %>
		</a>
	</div>
</div>
<br>
<% }) %>