<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>
<br>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">	
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		</div>
		
		<div class="modal-body myModal">
			<h1>Log In</h1>
			<form action="<%= session_url %>" method="post">
				<input type="hidden" name="authenticity_token" 
				value="<%= form_authenticity_token %>">
				
				<label>Username
					<input type="text" name="user[username]">
				</label>
	
				<label>Password
					<input type="password" name="user[password]">
				</label>
	
				<input type="submit" class="btn btn-primary" value="Log in">
			</form>
		</div>
		
		<div class="modal-footer">
			I don't need to log in. 
				<a href = "im_batman"><div class="imbatman">I'm Batman! (Demo)</div></a>
		</div>
    </div>
  </div>
</div>

<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">	
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		</div>
		
		<div class="modal-body">
			<h1>Sign Up</h1>
			<form action="<%= users_url %>" method="post">
				<input type="hidden" name="authenticity_token" 
				value="<%= form_authenticity_token %>">
				
				<label>Username
					<input type="text" name="user[username]">
				</label>
	
				<label>Password
					<input type="password" name="user[password]">
				</label>
	
				<input type="submit" class="btn btn-primary" value="Sign up">
			</form>
		</div>
		
		<div class="modal-footer">
			I don't need to sign up. 
				<a href = "im_batman"><div class="imbatman">I'm Batman! (Demo)</div></a>
		</div>
		
    </div>
  </div>
</div>


<%= yield %>

</body>
</html>
